@reboot cd /home/pi/sahil/pimote-ui && python -m SimpleHTTPServer >> /home/pi/sahil/logs/pimote-ui.out 2>> /home/pi/sahil/logs/pimote-ui.err
@reboot cd /home/pi/sahil/pimote-alexa-listener-master && env $(cat secrets.sh) npm start >> /home/pi/sahil/logs/pimote-alexa-listener.out 2>> /home/pi/sahil/logs/pimote-alexa-listener.err
